<div class="container">
  <div class="cover-heading">About</div>
  <hr>

  <div class="row">
    <div class="col-md-6 my-auto">
      <h3>Dirección</h3>
      <p>Mérida, Yucatán</p>

      <p>Número de teléfono</p>
      <p>+52 999999999</p>

      <h3>Email</h3>
      <p> <a href="mailto:test@testmail.com?subject=Contacto" "email me">Email me</a></p>
    </div>

    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29804.7374669174!2d-89.64594230061125!3d20.968886405956145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f567163acb6dea9%3A0x3712fd883337fd5e!2zQ2VudHJvLCBNw6lyaWRhLCBZdWMu!5e0!3m2!1ses-419!2smx!4v1677191175119!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
